@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap');

.formDica{
    padding-top: 10px;
    padding-left: 20px;
}

.labelInput{
    color: white;
    font-family: 'Arbutus Slab', sans-serif;
}

.input{
    width: 90%;
    padding-left: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 6px;
    border: 1.5px solid #E9EAEC;
    background-color: #0B0C0C;
    -webkit-box-shadow: -6px 6px 23px 0px rgba(228,182,26,0.1); 
    box-shadow: -6px 6px 23px 0px rgba(228,182,26,0.1);
    color: whitesmoke;
    font-family: 'Arbutus Slab', sans-serif;
}

.textArea{
    border-radius: 6px;
    border: 1.5px solid #E9EAEC;
    background-color: #0B0C0C;
    -webkit-box-shadow: -6px 6px 23px 0px rgba(228,182,26,0.1); 
    box-shadow: -6px 6px 23px 0px rgba(228,182,26,0.1);
    color: white;
    font-family: 'Arbutus Slab', sans-serif;
    padding-left: 6px;
    padding-top: 6px;
    width: 90%;
    resize: none;
}

#inputCategoria{
    width: 93%;
}

#inputLink{
    width: 90%;
}

.button{
    width: 120px;
    height: 35px;
    font-family: 'Arbutus Slab', sans-serif;
    border-radius: 6px;
    background-color: white;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

#limparForm{
    margin-left: 93px;
    width: 123px;
    height: 35px;
    font-family: 'Arbutus Slab', sans-serif;
    border-radius: 6px;
    background-color: white;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}