@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap');

.logoIntro{
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 40px;
}

.logoIntro img{
    width: 70px;
}

#divTexto{
    display: inline-block;
    text-align: center;
}

#h1Intro{
    font-family: 'Arbutus Slab', sans-serif;
    margin-bottom: 0;
    font-size: 22px;
    color: #be981b;
}

#pIntro{
    font-family: 'Arbutus Slab', sans-serif;
    margin-top: 0;
    font-size: 16px;
    color: antiquewhite;
    margin-bottom: 5px;
}