@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;800&display=swap');
header{
    box-sizing: border-box;
    background-color: #000814;
    border-radius: 14px;
    position: fixed;
    display: flex;
    align-items: center;
    top: 20px;
    left: 120px;
    right: 120px;
    justify-content: space-between;
}

li{
    list-style: none;
}

.logo{
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-left: 6px;
    margin-bottom: 15px;
}

.logo img{
    width: 58px;
    margin-left: 13px;
}

.logo h1{
    font-family: 'Maven Pro', sans-serif;
    font-size: 17px;
    margin-top: 14px;
    color: white;
    font-weight: bold;
    margin-left: 10px;
}

.nav_links li{
    display: inline-block;
    left: 10px;
}

.nav_links li a{
    text-align: center;
}

.cartoes h1{
    font-family: 'Maven Pro', sans-serif;
}
.link{
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.link:hover{
    text-decoration: underline;
    text-decoration-color: #9D0208;
}

.entrada ul li {
    display: inline-block;
    list-style: none;
}
.entrada ul li a{
    text-decoration: none;
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold;
    color: #D00000;
    padding-left: 16px;
}

.cartoes h1{
    font-size: 45px;
    margin-left: 120px;
    margin-top: 200px;
    margin-bottom: 15px;
}
.cartoes h2{
    font-family: 'Maven Pro', sans-serif;
    font-size: 25px;
    font-weight: 100;
    margin-top: 0;
    margin-left: 120px;
    color: #001D3D;
}

.checks{
    margin-top: 60px;
    margin-left: 120px;
}
.checks p{
    display: inline-block;
}