.pesquisaDicas{
    position: fixed;
    right: 0;
    width: 70.3%;
    padding-left: 15px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    background-color: white;
}

#barraPesquisa{
    width: 796px;
    height: 25px;
    border: 2.5px solid #2A2E34;
    border-radius: 14px;
    padding-left: 12px;
    padding-bottom: 3px;
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 16px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#imgPesquisa{
    width: 22px;
    padding-top: 3px;
}

#pesquisar{
    background-color: #2A2E34;
    border-radius: 14px;
    margin-left: 8px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    cursor: pointer;
}

#limparPesquisa{
    background-color: #2A2E34;
    border-radius: 14px;
    margin-left: 8px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    cursor: pointer;
}

#imgLimpa{
    width: 22px;
    padding-top: 3px;
}