/* Barra de navegação e Cabeçalho */

.navbar{
    background-color: #03071E;
    position: fixed;
    top: 0;
    width: 100%;
}

.titulo{
    text-align: center;
    color: white;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 0;
}

.img{
    width: 90px;
}

.navbar div{
    text-align: center;
}

#logo{
    width: 100px;
    margin-top: 8px;
    margin-left: 8px;
    margin-bottom: 6px;
}

.vp{
    text-align: center;
}

.navbar a{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    text-align: center;
}
.navbar a:hover{
    color: #D00000;
    text-decoration: underline;
}

/* Evento destacado */

.casamento{
    background-color: #C2AE58;
    color: black;
    margin-top: 198px;
    padding-top: 10px;
    text-align: center;
    font-size: 32px;
}

#fotoCasamento{
    width: 450px;
    align-self: center;
}

.evento div p{
    color: black;
    font-size: 20px;
}

.evento div p a{
    color: black;
}

#data{
    padding-bottom: 18px;
}

/* Listagem de eventos */

.divEventos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

article div{
    text-align: center;
}

#fotoCasamento1{
    width: 380px;
}
#pLista1{
    color: black;
}

#fotoCasamento2{
    width: 380px;
}
#pLista2{
    color: black;
}

#fotoCasamento3{
    width: 380px;
}
#pLista3{
    color: black;
}

/* Formulário contato */

#titulo{
    font-family: sans-serif;
    color: black;
}

#subtitulo{
    font-family: sans-serif;
    color: #370617;
}

.formulario{
    font-family: sans-serif;
    font-size: 1em;
    color: #59429d;
    margin-top: 2%;
    justify-content: center;
}

input, select, textarea, button{
    border-radius: 5px;
}

.campo{
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    color: #6A040F;
    display: block;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea{
    padding: 0.2em;
    border: 1px solid #370617;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus{
    background: #E0E0F8;
}

.botao{
    font-size: 1.2em;
    background: #E85D04;
    border: 0;
    margin-bottom: 1em;
    color:white;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
}

.botao:hover{
    background: #D00000;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}