/* Barra de navegação e Cabeçalho */

.container{
    width: 100%;
}

header{
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: black;
}

.navbar h1{
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 0;
}
.navbar p{
    color: white;
    text-align: center;
    margin-top: 2px;
}

nav:after{
    clear: both;
    content: "";
    display: block;
}

.van-container{
    max-width: 1200px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

#logo{
    width: 65px;
    font-size: larger;
    margin-left: 15px;
}

.nav-container ul{
    float: right;
    line-height: 75px;
    margin: 0;
    margin-right: 15px;
}

.nav-container li{
    list-style: none;
    float: left;
    margin: 0 15px;
}

.nav-container li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.nav-container li a:hover{
    color: #D00000;
    text-decoration: underline;
}

/* Evento destacado */

.destaq{
    color: black;
    margin-top: 170px;
    margin-bottom: 0;
    margin-left: 55px;
    font-size: 20px;
}

.casamento{
    background-image: linear-gradient(180deg, #FFBA08, #F48C06, #DC2F02);
    color: black;
    margin-top: 10px;
    margin-left: 55px;
    margin-right: 55px;
    padding-top: 10px;
    text-align: center;
    font-size: 32px;
    border-radius: 25px;
    border: 2px solid black;
}

#fotoCasamento{
    width: 450px;
    align-self: center;
}

.evento div p{
    color: black;
    font-size: 20px;
}

.evento div p a{
    color: black;
}

#data{
    padding-bottom: 18px;
}

/* Listagem de eventos */

.divEventos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

article div{
    text-align: center;
}

#fotoCasamento1{
    width: 380px;
}
#pLista1{
    color: black;
}

#fotoCasamento2{
    width: 380px;
}
#pLista2{
    color: black;
}

#fotoCasamento3{
    width: 380px;
}
#pLista3{
    color: black;
}

/* Formulário contato */

#titulo{
    font-family: sans-serif;
    color: black;
}

#subtitulo{
    font-family: sans-serif;
    color: #370617;
}

.formulario{
    font-family: sans-serif;
    font-size: 1em;
    color: #59429d;
    margin-top: 2%;
    justify-content: center;
}

input, select, textarea, button{
    border-radius: 5px;
}

.campo{
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    color: #6A040F;
    display: block;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea{
    padding: 0.2em;
    border: 1px solid #370617;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus{
    background: #E0E0F8;
}

.botao{
    font-size: 1.2em;
    background: #370617;
    border: 0;
    margin-bottom: 1em;
    margin-left: 38px;
    color:white;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
}

.botao:hover{
    background: #D00000;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}